<table class="dogs" id='dogs' border="2">
  <caption>G School Dogs</caption>
  <tr>
    <th class="owner">Owner</th>
    <th class="name">Dog Name</th>
    <th class="food">Favorite Food</th>
    <th class="toy">Favorite Toy</th>
  </tr>
</table>
